
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Made with love by Arthur Fedotiev</p>
    </div>
  </footer>
</div>
<script src="js/location.js" charset="utf-8"></script>
</body>
</html>
