<%- include("partials/header"); -%>

    <main role="main" class="inner cover">
      <h1 id="home-date" class="cover-heading greetings"><%= dayTime %></h1>
      <p class="lead"><%= today %></p>

      <form class="" action="/today" method="post">

        <button type="submit" class="btn btn-lg btn-light btn-grad" name="locationButton" id="positionButton">Погода у моєму місті</button>
        <input type="hidden" name="latitude" id="latitude" value="">
        <input type="hidden" name="longitude" id="longitude" value="">
      </form>
      </p>
    </main>
    <%- include("partials/footer"); -%>
