<%- include("partials/header"); -%>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/today">Сьогодні</a>
          <a class="nav-link" href="#">Завтра</a>
          <a class="nav-link" href="#">Тиждень</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">+26 &#8451</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
      <form class="" action="/today" method="post">
        <button type="submit" href="/home" class="btn btn-lg btn-secondary" name="locationButton" id="positionButton">Натисни на мене крихітко! ;)</button>
        <input type="hidden" name="latitude" id="latitude" value="">
        <input type="hidden" name="longitude" id="longitude" value="">
      </form>
      </p>
    </main>
    <%- include("partials/footer"); -%>
